<mat-toolbar class="header">
  <strong>Angular Calendar</strong>
</mat-toolbar>

<mat-card class="calendar">
  <div class="calendar__header">
    <div class="calendar__header-item" *ngFor="let name of weekdayNames">{{ name }}</div>
  </div>

  <div class="calendar__body">
    <div
      class="calendar__day"
      *ngFor="let item of calendarDays"
      [class.weekend]="item.weekend"
      [class.disabled]="item.disabled"
      [class.today]="item.today"
    >
      <span class="calendar__day-item">{{ item.date | date : 'd' }}</span>
    </div>
  </div>
</mat-card>
